body{
    background-color: bisque;
}

.button-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container button{
    margin: 10px;
}